# Nvim undo history and plugins
**/nvim/undo
**/nvim/plugged
**/nvim/autoload
*.swp

# Tmux plugins
**/tmux/plugins

# Zsh history
**/zsh/.zshistory
**/zsh/.zcompdump

# Fonts
**/fonts

# Ranger temp files
**/ranger/colorschemes/__*

